@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 300px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.footer {
  background-color: #eeeeee;
  padding: 15px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

button {
  margin-right: 10px;
}
